@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');
body {
    background-image: url(image/bd-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    max-height: 100px;
    width: 100%;
    padding: 0px 25px;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    background-image: url(image/hd-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
#content {
    position: relative;
    width: 350px;
    max-width: 100;
    height:auto;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: auto;
    padding-top: 200px;
    margin-top: 300px;
}
#content img:hover {
    transform: scale(1.1);
}
.logo img {
    max-width: 100%;
    width: 100px;
    height: auto;
    border-radius: 20%;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.575);
    margin-right: 50px;
    
}
.links nav ul{
    display: flex;
    list-style-type: none;
    padding: 0 2px;
}
a:link {
    text-decoration: none;
}
.nav-link {
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    color: rgb(75, 69, 116);
}

.hero {
    margin-top:150px;
    align-items: center;
    text-align: center;
}
.hero h2 {
    font-family: 'Lato', sans-serif;
    color:rgb(228, 131, 62);
    text-transform:uppercase;
}
.hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    color:seashell
}
[type='email']:hover{
    background-color: rgb(22, 22, 22);
}
.hero input[type='submit'] {
    border-radius: 5px;
    color: white;
    background-color: #000407;
    padding: 5px 10px 8px 10px;
}
[type='submit']:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100% {
        background-color: #031f5c;
    }
}
#features { 
    display: inline-block;
    width: 800px;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    margin-left:300px;
}
#features > .info .names {
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    padding:20px;
    margin: 20px;
}
.names {
    font-family: 'Rubik', sans-serif;
}
.names > p {
    width: 500px;
    height: auto;
    text-align: justify;
}
.info {
    display: flex;
    width: 100%;
    max-width: none;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 50px 0px;
}
.info img {
    max-width: 100%;
    width: 200px;
    height: 200px;
}
.info > img:hover {
    transform: scale(3.1);
}
#how-it-works {
    max-width: 100%;
    width: 600px;
    height: auto;
    align-items: center;
    text-align: center;
    margin: auto;
}
#contact {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}
.contact-head h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
    color: rgb(40, 49, 49);
}
.contact-head p {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
.contact-form p {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 800;
}
.contact-form form label {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 800;
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    color:rgb(2, 24, 24)
}
textarea {
    background-color:rgb(10, 9, 14);
    color: seashell;
    border-radius: 10px;
    font-size: 1rem;
}
.contact-form form input[type='submit'] {
    border-radius: 5px;
    color: white;
    background-color: #000407;
    padding: 5px 10px 8px 10px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.contact-img h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
footer {
    background-color: #000407;
    color:#eee;
    margin: 0%;
}
footer ul {
    display: flex;
    padding: 16px;
    font-size: 20px;
    color: rgb(76, 110, 99);
    margin: auto;

}
footer ul li {
    list-style-type: none;
    padding: 16px;
}
@media (min-width: 30em) and (max-width: 50em) {
    textarea {
        width: auto;
        height: 100%;
    }
}
